{{ define "main" }}
  	{{ $page := . }}
	
	<article>
		<header>
			<h1>{{ .Title }}</h1>
			{{ partial "post_meta.html" . }}
    	</header>
    	
    	<main>
    	{{ .Content }}
    	{{ with .Params.author }}
  			<div class="author-description">  			
				{{ $author := index site.Data.authors . }}
				<p><strong><a rel="author" href="/author/{{ . | urlize }}">{{ $author.Name }}</a></strong>,
				{{- range $i, $e := $author.Affiliations -}}
					{{ if $i }}, {{ end }}
					<a href="{{ index (split $e ",") 1 }}">{{ index (split $e ",") 0 }}</a>
				{{- end -}}.
				<br/>
					{{ $author.Description }}
				</p>
			</div>
			{{ end }}
    	</main>
    	
    	<aside>
		{{ with .Params.series }}    	
    	<div class="series grey-bubble">
    	{{ $series := index $page.Site.Taxonomies.series ($page.Params.series | urlize) }}
    		<details open>
    		<summary>Series: <strong><a href="/series/{{ $page.Params.series | urlize }}">{{ $page.Params.series }}</a></strong>.</summary>
			
			<ul>
			{{ range sort $series.Pages ".Params.date" "asc" }}
				{{ if eq .Title $page.Title }}
					<li>{{.Date.Format "Jan 02, 2006"}} - {{.LinkTitle}}</li>
				{{ else }}
					<li>{{.Date.Format "Jan 02, 2006"}} - <a href="{{.Permalink}}">{{.LinkTitle}}</a></li>
				{{ end }}
			{{end}}
			</ul>
			</details>
        </div>
        {{ end }}
        
        {{ with .Params.tags }}
        <div class="grey-bubble">
			{{ range . }}
			<details>
				{{ $tag := index $page.Site.Taxonomies.tags (. | urlize) }}
				<summary>Recent posts tagged <a href="/tags/{{ . | urlize }}" class="tag">{{ . }}</a></summary>
				
				<ul>
				{{ range first 5 (sort $tag.Pages ".Params.date" "desc") }}
					<li><time>{{.Date.Format "2006/01/02"}}</time> - <a href="{{ .RelPermalink }}">{{.LinkTitle}}</a></li>
				{{ end }}
				</ul>
			</details>
			{{ end }}
		</div>
		{{- end -}}
		</aside>
  		
  		<footer>
  		<details>
  			<summary><h2>Comments</h2></summary>
		<section
  			id="isso-thread"
  			data-title="{{ .Title }}"
  			data-isso-id="{{ .Slug }}">
  		</section>
  		
  		<script
  			data-isso-avatar="false"
  			data-isso-vote="false"
  			data-isso-id="{{ .Slug}}"
  			src="https://comments.solidarity.nz/js/embed.min.js"
			src="/prefix/js/embed.js">
		</script>
		</details>
  		</footer>
{{ end }}
