<p class="whakatauki"><strong>He aha te mea nui o te ao? He tangata! He tangata! He tangata!</strong>
<br/><i>What is the most important thing in the world? It is people! It is people! It
is people!</i></p>

<p><small>Finn Le Sueur manages this website and can be reached via <a href="mailto:{{ site.Author.email }}">{{ site.Author.email }}</a>. He is in charge of publishing, web development and web hosting.<br/>Please refer to <a href="/contribute/" title="Contribute and get involved!">Contribute</a> to get involved – we'd love to have you!</small></p>